.task-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    /* Full viewport height */
    padding: 20px;
    box-sizing: border-box;
}

.task-column {
    flex: 1;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
}

.task-column h2 {
    text-align: center;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}

.task-list {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fafafa;
    max-height: calc(100vh - 80px);
    /* Adjust height to fit within the viewport */
}

@media (max-width: 768px) {
    .task-container {
        flex-direction: column;
        height: auto;
        /* Adjust height for mobile view */
    }

    .task-column {
        margin-bottom: 20px;
    }

    .task-list {
        max-height: 300px;
        /* Adjust height for mobile view */
    }
}

.header-name{
    background-color: #07a0ff;
    color: #f0f0f0;
    padding: 10px;
    font-weight: bold;
}